{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<h2 class="text-center my-3">Connexion</h2>


<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <label for="inputEmail">Adresse email / Nom d'utilisateur</label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <a href="{{ path('app_forgot_password_request') }}" class="btn btn-warning btn-lg my-2">Mot de passe oublié</a>
    <button class="btn btn-lg btn-primary my-2" type="submit">Se connecter</button>
</form>
{% endblock %}
