{% extends 'base.html.twig' %}

{% block body %}


<h2 class="text-center my-3">Mon Compte</h2>

<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-profil-list" data-toggle="list" href="#user-profil" role="tab"><i class="fas fa-user-alt"></i> Profil</a>
            <a class="list-group-item list-group-item-action" id="list-deals-published-list" data-toggle="list" href="#user-deals-published" role="tab"><i class="fas fa-plus-square"></i> Mes deals publiés</a>
            <a class="list-group-item list-group-item-action" id="list-deals-saved-list" data-toggle="list" href="#user-deals-saved" role="tab"><i class="fas fa-save"></i> Mes deals sauvegardés</a>
            <a class="list-group-item list-group-item-action" id="list-stats-list" data-toggle="list" href="#user-stats" role="tab"><i class="fas fa-list"></i> Statistiques</a>
            <a class="list-group-item list-group-item-action" id="list-badges-list" data-toggle="list" href="#user-badges" role="tab"><i class="fa fa-id-card"></i> Badges</a>
            <a class="list-group-item list-group-item-action" id="list-alerts" data-toggle="list" href="#user-alerts" role="tab"><i class="fas fa-bell"></i> Mes alertes</a>
            <a class="list-group-item list-group-item-action" id="list-alerts-config" data-toggle="list" href="#user-alerts-config" role="tab"><i class="fas fa-cogs"></i> Gérer mes alertes</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="nav-tabContent">

            <!-- PROFILE SECTION -->
            <div class="tab-pane fade show active" id="user-profil" role="tabpanel">
                <h5>Informations:</h5>
                <div class="row my-4">
                    <div class="col-6">
                        <h5 class="text-uppercase font-weight-bold">Votre pseudonyme</h5>
                    </div>
                    <div class="col-6">
                        <span>{{ user.username }}</span>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-6">
                        <h5 class="text-uppercase font-weight-bold">Adresse e-mail associée</h5>
                    </div>
                    <div class="col-6">
                        <span>{{ user.email }}</span>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-6">
                        <h5 class="text-uppercase font-weight-bold">Mot de passe</h5>
                    </div>
                    <div class="col-6">
                        <span>*************</span>
                    </div>
                </div>

                <h5>Actions:</h5>
                <div class="my-3">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-danger" href="{{ path('user_delete', {"userid" : app.user.id}) }}">Supprimer mon compte</a>
                    {% endif %}
                </div>
            </div>
            <!-- PROFILE SECTION -->

            <!-- DEALS PUBLISHED SECTION -->
            <div class="tab-pane fade" id="user-deals-published" role="tabpanel">
                {% include 'deal/dealsList.html.twig' with {'deals':  dealsPublished, 'type' : type} %}
            </div>
            <!-- DEALS PUBLISHED SECTION -->

            <!-- DEALS SAVED SECTION -->
            <div class="tab-pane fade" id="user-deals-saved" role="tabpanel">
                {% include 'deal/dealsList.html.twig' with {'deals':  dealsSaved, 'type' : type} %}
            </div>
            <!-- DEALS SAVED SECTION -->

            <!-- STATS SECTION -->
            <div class="tab-pane fade" id="user-stats" role="tabpanel">
                <h5>Nombre de deals postés: <span class="font-weight-bold">{{ statsDealsPosted }}</span></h5>
                <h5>Nombre de commentaires postés: <span class="font-weight-bold">{{ statsCommentsPosted }}</span></h5>
                <h5>Note du deal posté la plus hot: <span class="font-weight-bold">{{ statsHotestDeal ? statsHotestDeal.rateValue : 'Aucun deal posté' }}</span></h5>
                <h5>Moyenne des notes des deals postés sur 1 an glissant: <span class="font-weight-bold">{{ statsAvgDealsPosted ? statsAvgDealsPosted |round(1, 'floor') : 'Aucun deal trouvé' }}</span></h5>
                <h5>Pourcentage de deals postés devenus hot: <span class="font-weight-bold">{{ statsPercentageDealsPostedBeingHot }} %</span></h5>
            </div>
            <!-- STATS SECTION -->

            <!-- BADGES SECTION -->
            <div class="tab-pane fade" id="user-badges" role="tabpanel">
                {% if user.badges | length > 0 %}
                    <h2>Mes badges</h2>
                {% endif %}
                {% for badge in userBadges %}
                    <div style="display: flex; flex-direction: row" class="row">
                        <div style="display: flex; flex-direction: column">
                            <p>{{ badge }} :</p>
                            {% if badge == "Surveillant" %}
                                <p style="font-size: 0.8em">Vous avez voté 10 fois</p>
                            {% elseif badge == "Cobaye" %}
                                <p style="font-size: 0.8em">Vous avez posté 10 deals</p>
                            {% elseif badge == "Rapport de stage" %}
                                <p style="font-size: 0.8em">Vous avez posté 10 commentaires</p>
                            {% endif %}
                        </div>
                        <div class="progress bg-success w-100">
                            <div style="width: 100%" class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">10/10
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if allBadges != userBadges %}
                    <h2>Les badges à débloquer :</h2>
                {% endif %}
                {% for badge in allBadges %}
                    {% if badge not in userBadges %}
                        <div style="display: flex; flex-direction: row" class="row">
                            <div style="display: flex; flex-direction: column">
                                <p>{{ badge }} :</p>
                                {% if badge == "Surveillant" %}
                                    <p style="font-size: 0.8em">Il faut voter 10 fois</p>
                                {% elseif badge == "Cobaye" %}
                                    <p style="font-size: 0.8em">Il faut poster 10 deals</p>
                                {% elseif badge == "Rapport de stage" %}
                                    <p style="font-size: 0.8em">Il faut poster 10 commentaires</p>
                                {% endif %}
                            </div>
                            <div class="progress bg-success w-100">
                                <div style="width: 100%" class="progress-bar bg-warning" role="progressbar"
                                        aria-valuenow="{% if badge == "Surveillant" %} {{ statRates }} {% elseif badge == "Cobaye"%} {{ statsDealsPosted }} {% elseif badge == "Rapport de stage" %} {{ statsCommentsPosted }} {% endif %}" aria-valuemin="0" aria-valuemax="10">{% if badge == "Surveillant" %} {{ statRates }} {% elseif badge == "Cobaye"%} {{ statsDealsPosted }} {% elseif badge == "Rapport de stage" %} {{ statsCommentsPosted }} {% endif %}/10
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- BADGES SECTION -->

            <!-- ALERTS SECTION -->
            <div class="tab-pane fade" id="user-alerts" role="tabpanel">
                {% include 'deal/dealsList.html.twig' with {'deals':  dealsFromAlerts, 'type' : type} %}
            </div>
            <!-- ALERTS SECTION -->

            <!-- ALERTS CONFIG SECTION -->
            <div class="tab-pane fade" id="user-alerts-config" role="tabpanel">
                <a class="btn btn-info text-white mb-2" href="{{ path('create_alert') }}">Ajouter une alerte</a>
                {% include 'alert/index.html.twig' with {'alerts' : alerts} %}
            </div>
            <!-- ALERTS CONFIG SECTION -->
        </div>
    </div>
</div>

{% endblock %}
